{% extends 'EGGameBundle::layout.html.twig' %}
{% block title %}{{ parent() }} - Administration des jeux{% endblock %}

{% block egBody %}
    <div class="row">
        <h2 class="text-center">Administration des jeux</h2>

        <ul class="container-fluid bg-3 text-center-sm-3">
            {% for game in games %}
                <div class="col-sm-3">
                    <li class="list-unstyled">
                        <a class="link" href="{{ path('eg_admin_edit_game', {id: game.id}) }}">
                            <div class="panel panel-title well-lg">
                                <p>{{ game.nameGame }}</p>
                            </div>
                        </a>
                    </li>
                </div>
            {% endfor %}
        </ul>
        <a href="{{ path('eg_admin_add_game') }}">Ajouter un jeu</a>
    </div>
{% endblock %}