{% extends "EGGameBundle::layout.html.twig" %}

{% block egBody %}
    <script src="{{ asset("js/game/pixi.js") }}"></script>
    <div class="container">
        <div class="row">
            <div class="canvas">
                {# <script src="//localhost/testPixi/dragAndDropV2.js"></script>#}
                <script src="{{ game.src }}"></script>
            </div>
        </div>
    </div>
{% endblock %}