
{%  block list %}
    <div>
        <ul>
            {% for class in listClass %}
                <li><a href="#">{{ class.classroomName }}</a> </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}