{% extends 'EGFollowUpBundle::layout.html.twig' %}

{%  block egBody %}
    <div class="row">
        <h2 class="text-center">suivi des élèves de la classe {{ class.classroomName }}</h2>
        <ul class="container-fluid bg-3 text-center-sm-3">
            {% for pupil in listPupil %}
                <div class="col-sm-3">
                    <li class="list-unstyled">
                        <a class="link" href="{{ path('eg_follow_up_pupil_result', {id: pupil.id}) }}">
                            <div class="panel panel-title well-lg">
                                <p>
                                    {{ pupil.name }}
                                </p>
                            </div>
                        </a>
                    </li>
                </div>
            {%  endfor %}
        </ul>
    </div>
{% endblock %}