{% extends 'EGFollowUpBundle::layout.html.twig' %}

{% block egBody %}
    <div class="row">
        <h2 class="text-center">Suivi de {{ pupil.name }}</h2>

        <ul class="container">
            <div class="col-sm-6">
                <li class="list-unstyled">
                    <a class="link" href="{{ path('eg_follow_up_pupil_result', {'id' : pupil.id }) }}">
                        <div class="panel panel-title well-lg">
                            <p>Derniers jeux</p>
                        </div>
                    </a>
                </li>
            </div>
            <div class="col-sm-6">
                <li class="list-unstyled">
                    <a class="link" href="{#{{ path('eg_follow_up_view_game', {'id' : class.id }) }}#}">
                        <div class="panel panel-title well-lg">
                            <p>Suivi par jeux</p>
                        </div>
                    </a>
                </li>
            </div>
        </ul>
    </div>
{% endblock %}