{% extends 'EGUserBundle::layout.html.twig' %}
{% block title %}{{ parent() }} - Modifier mon mot de passe{% endblock %}

{% block egBody %}
    <div class="container">
        <h2 class="text-center">Modifier mon mot de passe</h2>
    {{ form(form) }}
    <a href="{{ path('eg_user_profile_edit', {id: user.id}) }}" class="btn btn-default "><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></p>
    </div>
{% endblock %}