html{
    position: relative;
    min-height: 100%;
}
@font-face {
    font-family: 'JBCursive', serif;
    src: url("../fonts/JBCursive.otf");

}
@font-face {
    font-family: 'Brandon Grotesque', serif;
    src: url("../fonts/Brandon_thin.otf");
}
@font-face {
    font-family: 'Brandon Grotesque It', serif;
    src: url("../fonts/Brandon_thin_it.otf");
}
@font-face {
    font-family: 'Sukhumvit Set', serif;
    src: url("../fonts/SukhumvitSet.ttc");
}
body {
    padding-top: 60px;
    font-family: "Sukhumvit Set";
    background-color: #EAEAEA;

}


/* Header */
.navbar{
    background-color: #1B6E86;
}
.navbar-header{
    height: 6vh;
}
.navbar-brand {
    color: whitesmoke !important;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
#menu {
    background-color: transparent;
}

#menu:hover,focus{
    background-color: transparent;
}

.navbar-nav > li > a {
    color: whitesmoke !important;
}

#logo{
    height: 7vh;
    width: 6vw;

}
/* login */
.vertical-offset-100{
    padding-top:100px;
}
/* block div */
.text-muted{
    font-family: "Brandon Grotesque";
    font-weight: lighter;
}
#cursive{
    font-family: "JBCursive";
}
.panel{
    background-color: white;
}
.link:hover{
    text-decoration: none;
}
#gameView{
    border-style: none  ;
}
#imgGame{
    border: solid  3px #1b6d85;
    width: 20vw;
    height: 20vh;
}

#imgGame:hover{
    width: 25vw;
    height: 25vh;
}
/* table */
table, th{
    text-align: center;
}
.low{
    background-color: red;
}
.mid-low{
    background-color: orange;
}
.mid-high{
    background-color: yellow;
}
.high{
    background-color: #4cae4c;
}
/* Canvas Game*/
canvas
{
    width: 75vw;
    height: 90vh;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
/* main */
main{
}
/* Footer */
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #D9D9D9;
}

.container {
     width: auto;
     max-width: 680px;
     padding: 0 15px;
 }
.container .text-muted {
    margin: 20px 0;
}
.list-unstyled{
    border: solid grey;
    -moz-border-radius:10px 0;
    -webkit-border-radius:10px 0;
    border-radius:10px 10px;
}

.col-md-2{
    margin-top: 5px;
    padding-bottom: 5px;
}
.col-sm-3{
    margin-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 815px) {
    html{
        position: relative;
        min-height: 100%;
    }
    body {
        padding-top: 60px;
        margin-left: 5px;
        margin-right: 5px;
    }

    canvas
    {
        width: 90vw;
        height: 80vh;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
}




