{% extends '::layout.html.twig' %}

{% block title %}
    Edition {{ class.classroomName }} - {{ parent() }}
{% endblock %}

{% block egBody %}

    {{ include("EGClassBundle:Class:formClass.html.twig") }}

    <a href="{{ path('eg_class_view', {id: class.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></div>
{% endblock %}