{% extends '::layout.html.twig' %}

{% block title %}
    Classe - {{ parent() }}
{% endblock %}

{% block egBody %}
    <a href="#"><div>
            <p>Classe 1</p>
        </div></a>
    <a href="#">
        <div>
            <p>Nouvelle classe</p>
        </div>
    </a>
{% endblock %}