{% extends 'EGClassBundle::layout.html.twig' %}

{% block title %}
   Mes Classes - {{ parent() }}
{% endblock %}

{% block egBody %}
    {% for class in listClass %}
        <div class="well col-lg-1 col-lg-offset-1">
            <a href="{{ path('eg_class_view', {id : class.id}) }}">
                    {{ class.classroomName }} <span class="glyphicon glyphicon-wrench" ></span>
             </a>
        </div>
        {% endfor %}
    <div class="well col-lg-1 col-lg-offset-1">
        <a href="{{ path('eg_class_add') }}">
            Nouvelle classe<span class="glyphicon glyphicon-plus" ></span>
        </a>
    </div>
{% endblock %}